
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jass.css">
    <title>Document</title>
    
</head>
<body>
     <nav></nav>
  

        {{#if logged_in}}
        <a href="/">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}

  </nav>

   {{{body}}} 
   <script src="/js/dropdown.js"></script>
   <script src="/js/login.js"></script>
 <script src="/js/logout.js"></script>
</body>
</html>
