  <h5> Start you search here ✈</h5>

<div class="dropdown">
 <div class="select">
  <span class="selected">Select Nationality</span>
  <div class="caret"></div>
 </div>
 <ul class="menu">
<li class="active">American</li>
<li>Canadian</li>
<li>Korean</li>
<li>British</li>
<li>Vietneamese</li>
<li>Australian</li>
<li>Brazilian</li>
<li>Emirati</li>
<li>Mexican</li>
<li>Dutch</li>
<li>Spanish</li>
<li>Chinese</li>
<li>German</li>
<li>Moroccan</li>
<li>Scottish</li>
<li>Japanese</li>
<li>Italian</li>
<li>Indian</li>
 </ul>
    
  </div>
 
</div>

<script src="./js/dropdown.js"></script>







