<h3>Welcome to TravelKART!</h3>
<h5> How would you like your travel experience?</h5>

<div class="dropdown">
  <div class="select">
    <span class="selected">Select Nationality</span>
    <div class="caret"></div>
  </div>
<ul class="menu">
  <li>American</li>
  <li>Canadian</li>
  <li>Korean</li>
  <li>British</li>
  <li>Vietneamese</li>
  <li>Australian</li>
  <li>Brazilian</li>
  <li>Emirati</li>
  <li>Mexican</li>
  <li>Dutch</li>
  <li>Spanish</li>
  <li>Chinese</li>
  <li>German</li>
  <li>Moroccan</li>
  <li>Scottish</li>
  <li>Japanese</li>
  <li>Italian</li>
  <li>Indian</li>
 </ul>

</div>

{{!-- <div id="search-bar">
      <input id="generic-search" type="text" placeholder="Search locations">
      <button id="submit-btn" class="btn waves-effect waves-light" type="submit" name="action">Search
        <i class="material-icons right">send</i>
      </button>
      
    </div> --}}