<h3>Welcome to TravelKART!</h3>

  <h5> How would you like your travel experience?</h5>

<div class="dropdown">
  <button class="dropbtn">Select Nationality</button>
  <div class="dropdown-content">
  <a href="#">American</a>
  <a href="#">Canadian</a>
  <a href="#">Korean</a>
  <a href="#">British</a>
  <a href="#">Vietneamese</a>
  <a href="#">Australian</a>
  <a href="#">Brazilian</a>
  <a href="#">Emirati</a>
  <a href="#">Mexican</a>
  <a href="#">Dutch</a>
  <a href="#">Spanish</a>
  <a href="#">Chinese</a> 
  <a href="#">German</a>
  <a href="#">Moroccan</a>
  <a href="#">Scottish</a>
  <a href="#">Japanese</a> 
  <a href="#">Italian</a>
  <a href="#">Indian</a> 
    
  </div>
</div>





