

<body>
    <button id="go-to-homepage" class="btn waves-effect waves-light left" type="submit" name="action">Go Back To homepage</button>

    <div class="container">


  {{!-- <header> -- --}}
    
    <h1 class="page-title">
      Location results
    </h1>
    <p>
      Here are some locations you may like:
    </p>
  </header>

  <main>
    <section class="row justify-center">
      <div class="card-column">
        <figure class="card code-card">
          <div class="card-body">
            <h2>Some locations based on your preferences:</h2>
            {{!-- <p>Here are some of your favorite locations you listen to:</p> --}}
          </div>
          <pre class="code-block"><code id="top-locations"></code></pre>
        </figure>
      </div>
    
        
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="./assets/js/profilescript.js"></script>

    </div>
  
  </body>
  
  </html>